<ul class="list-group">
    {% for question in questions %}
        <li class="list-group-item">
            <span class="badge">{{ question.answers|length }}</span>
            <span data-toggle="collapse" href="#collapseExample-{{ question.id }}" role="button" aria-expanded="false" aria-controls="#collapseExample-{{ question.id }}">{{ question.name }}</span>
            <a href="{{ path('admin_question_delete', {'id': question.id}) }}" class="btn btn-danger" style="float:right;">Supprimer</a>
            <a href="{{ path('admin_question_delete', {'id': question.id}) }}" class="btn btn-success mr-2" style="float:right;">Ajouter une réponse</a>
            <div class="collapse" id="collapseExample-{{ question.id }}">
                <p class="pt-3">
                    {% if question.answers|length > 0 %}
                        <table class="table">
                          <thead class="thead-light">
                            <tr>
                              <th scope="col">Réponse</th>
                              <th scope="col">Actions</th>
                            </tr>
                          </thead>
                          <tbody>
                          {% for answer in question.answers %}
                                <tr>
                                  <td>{{ answer.name }}</td>
                                  <td></td>
                                </tr>
                            {% endfor %}
                          </tbody>
                        </table>


                    {% else %}
                        <span>Aucune question</span>
                    {% endif %}
                </p>
            </div>
        </li>
    {% endfor %}
</ul>
