{% extends 'base.html.twig' %}

{% block body %}
    <script
        src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
        crossorigin="anonymous"></script>
        <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js">

        </script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
    <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
      <a class="navbar-brand">Navbar</a>
      <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-md-10" style="margin: 0 auto; padding-top: 20px;">
          <div>
              {{ form_start(form) }}
                  {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
                  {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary mt-3'}}) }}
              {{ form_end(form) }}
          </div>
          <div class="question-list mt-4">
          </div>
        </div>
      </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function() {

            var getQuestionUrl = "{{ path('admin_questions_get', {'id': quizz.id}) }}";

            $.get(getQuestionUrl, function(responses) {
                  $('.question-list').append(responses);
            });

            $('form[name="question"]').submit(function() {
                var url = "{{ path('admin_quizz_settings', {'id': quizz.id}) }}";
                var formSerialize = $(this).serialize();

                $.post(url, formSerialize, function(response) {
                    $('.question-list ul').append(response);
                });

                return false;
            })
        });
    </script>
{% endblock %}
